.card-custom {
    height: 100%;
}


.foto-deputado {
    width: 15%;
    height: auto;
}

.content-deputado {
    text-align: center;
}

.custom-column {
    width: 15% !important;
    height: auto;
}

.image img {
    display: block;
    height: auto;
    width: 65%;
    margin-left: 16%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 5%;
}
